/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #e76f51;
  --ifm-color-primary-dark: #d3694a;
  --ifm-color-primary-darker: #bd5f42;
  --ifm-color-primary-darkest: #a15134;
  --ifm-color-primary-light: #f08464;
  --ifm-color-primary-lighter: #f39073;
  --ifm-color-primary-lightest: #f69e83;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #bf4c33;
  --ifm-color-primary-dark: #ab4530;
  --ifm-color-primary-darker: #983d2c;
  --ifm-color-primary-darkest: #8a3528;
  --ifm-color-primary-light: #cc5e47;
  --ifm-color-primary-lighter: #d06b53;
  --ifm-color-primary-lightest: #d77a62;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
